@*@model IEnumerable<DataAccess.DBEntities.StudentEntity>*@
@model Mill_App_02.Models.StudentVM


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>


</p>
<h2>Student Drop Down List </h2>
<select asp-for="Id"
        asp-items="@(new SelectList(ViewBag.DropDownList,"Id","Name"))">
    <option value="">---Please Select------</option>
</select>
<br />
<br />

<h2>Employee Drop Down List </h2>
<select asp-for="Id"
        asp-items="@(new SelectList(ViewBag.DropdownForEmployee,"Id","Name"))">
    <option value="">---Please Select------</option>
</select>
<br />

<h2>Sample Dropdown  </h2>
<select name="name1" id="ddlName1">
    <option value="">---- Select -----</option>
    @foreach (var item in Model.StudentList)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Class
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>